<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.snail.snailSafe"
    android:versionCode="2"
    android:versionName="2.1"
    >
<!--
第一位：重大版本更新
第二位：更新部分功能
第三位：代表修复原有版本的bug
-->
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17"
    />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_log"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".activity.frame.StartAppActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 系统界面 -->
        <activity android:name=".activity.frame.HomeActivity"/>
        <activity android:name=".activity.frame.ChoseContactActivity"/>
        <!-- 手机防盗 -->
        <activity android:name=".activity.mobileLost.MobileLostActivity"/>
        <activity android:name=".activity.mobileLost.StepOneActivity"/>
        <activity android:name=".activity.mobileLost.StepSecondActivity"/>
        <activity android:name=".activity.mobileLost.StepThirdActivity"/>
        <!-- 系统设置 -->
        <activity android:name=".activity.systemSetting.SystemSettingActivity" />
    </application>

</manifest>